.codigos {
    padding: 2rem;
    background-color: var(--azul-claro);
    width: 50vw;
    border-radius: 1rem;
    font-family: var(--fonte-codigo);
}

.codigo-container {
    background-color: black;
    height: 90%;
    padding: 1rem;
    border-radius: 1rem;
}

.paragrafo {
    display: inline;
    margin: 1rem 0;
}


.codigo__botao {
    margin: 5rem 0; 
    width: 50vw;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    background-color: #5081fb14;
    color: var(--cor-da-fonte);
    font-size: 1rem;
}

.codigo__botao:hover {
    background-color: #5080fb49;
    transition: .2s;
}