:root {
    --cor-de-fundo:#051D3B;
    --fonte-principal:'Inter', sans-serif;
    --fonte-codigo:'Roboto Mono', monospace;
    --cinza-claro:#ffffff29;
    --azul-claro:#5081FB;
    --cor-da-fonte:#FFFFFF;
    --opacidade:0.64;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-da-fonte);
}

main {
    display: flex;
}

.codigos {
    border: 2px solid white;
    display: flex;
    height: 100vh;
    width: 50vw;
}